.newBoard-overlay2 {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 0, 0, 0.4); /* Black w/ opacity */
}

main {
  background-color: white;
  flex-grow: 1;
}

.newBoard-details h2 {
  padding: 10px;
  margin: 10px;
  font-size: 35px;
  margin-bottom: 20px;
}

.newBoard-details p:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s ease;
  font-weight: bold;
}

.newBoard-details p {
  position: fixed;
  top: 5%;
  right: 0;
  margin-right: 20px;
  transition: 0.2s ease;
}

.newBoard-details {
  animation: modalAnimation 0.5s forwards;
  position: fixed;
  width: 500px;
  height: 550px;
  z-index: 1000;
  border: 2px solid black;
  padding-inline: 20px;
  background-color: #e8f9ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.toggled .newBoard-details {
  background-color: rgb(16, 2, 52);
  box-shadow: 0 0 5px 2px rgba(239, 243, 244, 0.8);
}

.newBoard-details .form-block {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.newBoard-details form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.newBoard-details textarea {
  height: 20px;
  margin-top: 5px;
  width: 98%;
  resize: none;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-family: "Savate", sans-serif;
  font-size: 15px;
}

.newBoard-details select {
  width: 100%;
  height: 25px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.newBoard-details label {
  font-weight: bold;
  margin-bottom: 6px;
}

.newBoard-details h3 {
  font-size: 12px;
  padding: 0px;
  margin: 5px;
}

.newBoard-details button {
  align-self: center;
  background-color: #c5baff;
  margin-top: 25px;
  margin-bottom: 20px;
}

.newBoard-details select {
  font-family: "Savate", sans-serif;
}

@keyframes modalAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
