:root {
  --dark-bgc: #1e0c19;
}

body .Home {
  text-align: center;
  background-color: rgb(240, 251, 235);
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

body.toggled .Board {
  background-color: var(--dark-bgc);
}

body.toggled .Home {
  background-color: #12101c;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Savate", sans-serif;
  margin: 20px;
}

button {
  background-color: #c4d9ff;
  border: 2px solid #2c2a37;
  border-radius: 10px;
  font-family: "Savate", sans-serif;
  font-weight: 500;
  padding: 8px;
  margin: 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  transition: 0.2s ease;
}

body.toggled p {
  color: white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(1.1);
  transition: 0.3s ease;
}

body.toggled .search-container {
  background-color: #251220;
  border-radius: 10px;
}

h1 {
  align-self: center;
  font-size: 50px;
  margin: 5px;
}
.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.toggled main {
  background-color: var(--dark-bgc);
}

.select-drop select {
  margin: 20px;
  padding: 6px;
  font-family: "Savate", sans-serif;
  background-color: #fef9d9;
  font-weight: 500;
  box-sizing: border-box;
  border: 2px solid #2c2a37;
  border-radius: 6px;
  outline: none;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.select-drop select:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transition: 0.3s ease;
}
#new-board {
  background-color: #c5baff;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  float: bottom;
  background-color: #a1e3f9;
}
footer h4 {
  color: black;
  margin-right: 10px;
  font-size: large;
  font-family: "Brush Script MT", cursive;
}

/* On off togle */

.toggle-btn {
  background-color: #e0e8f6;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 80px;
  height: 46px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 3%;
}

.toggle-btn .thumb {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(61, 59, 59);
  border-radius: 99px;
  transition: left 0.15s ease;
  top: 50%;
  left: 7px;
  transform: translateX(0);
  transform: translateY(-50%);
}

.toggle-btn {
  background-color: rgb(121, 195, 121);
  border-color: #aaa;
}

.toggle-btn.toggled {
  background-color: rgb(46, 26, 84);
  border-color: #7d237d;
}

.toggle-btn.toggled .thumb {
  left: calc(80px - 40px);
  background-color: rgb(244, 237, 237);
}
