.post-card {
  border: 2px solid rgb(125, 105, 105);
  background-color: #f7f2f0;
  width: 350px;
  height: 350px;
  margin: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(119, 130, 132, 0.8);
}

.post-card.clicked {
  box-shadow: 0 0 5px 2px rgba(136, 127, 44, 0.8);
  border: 2px solid rgba(136, 127, 44, 0.8);
}

.post-card.clicked:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  border: 2px solid rgba(136, 127, 44, 0.8);
}

#comment {
  padding-inline: 10%;
  background-color: #3cdf7b;
}

.pin {
  position: absolute;
  right: 3%;
  font-size: 20px;
  filter: grayscale();
  transition: 0.3s ease;
}

.pin.clicked {
  filter: none;
}

.pin:hover {
  transform: scale(1.3);
  transition: 0.3s ease;
  cursor: pointer;
}

body.toggled .post-card {
  background-color: #290e35;
}

.post-card img {
  max-width: 80%;
  max-height: 180px;
  object-fit: cover;
}

.post-card:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  border: 2px solid rgba(105, 131, 136, 0.8);
}

h2 {
  width: 82%;
  font-family: "Savate", sans-serif;
  margin: 0;
  height: 30px;
  color: black;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: auto;
}

p {
  font-family: "Savate", sans-serif;
  margin-bottom: auto;
}

.post-card .post-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.post-buttons #delete {
  background-color: #ffa447;
  padding-inline: 14%;
}

.post-buttons #view {
  background-color: #bbe2ec;
  padding-inline: 10%;
  white-space: nowrap;
}
